#!/bin/sh
 
export CATALINA_OPTS="$CATALINA_OPTS -Dallow.unsigned.sdk.extension.jars=true -javaagent:{{ binary_path }}/javaagent.jar"
 
export JAVA_HOME=$(/usr/libexec/java_home)
 
export APPDYNAMICS_CONTROLLER_HOST_NAME="{{ controller_host }}"
export APPDYNAMICS_CONTROLLER_PORT="{{ controller_port }}"
export APPDYNAMICS_CONTROLLER_SSL_ENABLED="{{ ssl_enabled }}"
export APPDYNAMICS_AGENT_APPLICATION_NAME="{{ app_name }}"
export APPDYNAMICS_AGENT_UNIQUE_HOST_ID="{{ ansible_hostname }}"
export APPDYNAMICS_AGENT_TIER_NAME="{{ tier_name }}"
export APPDYNAMICS_AGENT_NODE_NAME="{{ node_name }}"
export APPDYNAMICS_AGENT_ACCOUNT_ACCESS_KEY="{{ access_key }}"